aiohttp==3.8.4; python_version >= "3.6"
aiosignal==1.3.1; python_version >= "3.7" and python_full_version >= "3.8.0"
altair==4.2.2; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.7"
async-generator==1.10; python_version >= "3.7"
async-timeout==4.0.2; python_version >= "3.6" and python_full_version >= "3.8.0"
attrs==23.1.0; python_version >= "3.7" and python_full_version < "3.9.7" and python_full_version >= "3.8.0" or python_full_version > "3.9.7" and python_version >= "3.7"
blinker==1.6.2; python_version >= "3.8" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.8"
browser-cookie3==0.18.0
cachetools==5.3.0; python_version >= "3.7" and python_version < "4.0" and (python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7")
certifi==2022.12.7; python_version >= "3.6"
cffi==1.15.1; platform_python_implementation == "CPython" and sys_platform == "win32" and (python_version >= "2.7" and python_full_version < "3.0.0" or python_version > "3.5") and os_name == "nt" and implementation_name != "pypy" and python_version >= "3.7"
charset-normalizer==3.1.0; python_version >= "3.7" and python_full_version < "3.9.7" and python_full_version >= "3.8.0" or python_full_version > "3.9.7" and python_version >= "3.7"
click==8.1.3; python_version >= "3.8" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.8"
colorama==0.4.6; python_version >= "3.8" and python_full_version < "3.0.0" and platform_system == "Windows" or python_version >= "3.8" and python_full_version < "3.9.7" and platform_system == "Windows" and python_full_version >= "3.7.0" or python_full_version > "3.9.7" and python_version >= "3.8" and platform_system == "Windows"
decorator==5.1.1; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.5"
discord.py==2.2.2; python_full_version >= "3.8.0"
discord==2.2.2
entrypoints==0.4; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.7"
exceptiongroup==1.1.1; python_version < "3.11" and python_version >= "3.7"
fake-useragent==1.1.3
flask==2.3.1; python_version >= "3.8"
frozenlist==1.3.3; python_version >= "3.7" and python_full_version >= "3.8.0"
gevent==22.10.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_version > "3.5"
gitdb==4.0.10; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.7"
gitpython==3.1.31; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.7"
greenlet==2.0.2; python_version >= "2.7" and python_full_version < "3.0.0" and platform_python_implementation == "CPython" or python_version > "3.5" and python_full_version < "3.0.0" and platform_python_implementation == "CPython" or python_version > "3.5" and platform_python_implementation == "CPython" and python_full_version >= "3.5.0"
h11==0.14.0; python_full_version >= "3.7.0" and python_version >= "3.7"
idna==3.4; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.7"
importlib-metadata==6.6.0; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.7"
itsdangerous==2.1.2; python_version >= "3.8"
jeepney==0.8.0; python_version >= "3.7" and (sys_platform in "bsd" or sys_platform == "linux")
jinja2==3.1.2; python_version >= "3.8" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.8"
jsonschema==4.17.3; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.7"
levenshtein==0.21.0; python_version >= "3.6"
lz4==4.3.2; python_version >= "3.7"
markdown-it-py==2.2.0; python_version >= "3.7" and python_full_version < "3.9.7" and python_full_version >= "3.7.0" or python_full_version > "3.9.7" and python_version >= "3.7"
markupsafe==2.1.2; python_version >= "3.8" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.8"
mdurl==0.1.2; python_version >= "3.7" and python_full_version < "3.9.7" and python_full_version >= "3.7.0" or python_full_version > "3.9.7" and python_version >= "3.7"
multidict==6.0.4; python_version >= "3.7" and python_full_version >= "3.8.0"
numpy==1.24.3; python_version >= "3.11" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.11"
outcome==1.2.0; python_version >= "3.7"
packaging==23.1; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.7"
pandas==2.0.1; python_version >= "3.8" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.8"
pillow==9.5.0; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.7"
protobuf==3.20.3; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.7"
pyarrow==11.0.0; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.7"
pycparser==2.21; python_version >= "3.7" and python_full_version < "3.0.0" and platform_python_implementation == "CPython" and sys_platform == "win32" and (python_version >= "2.7" and python_full_version < "3.0.0" or python_version > "3.5") and os_name == "nt" and implementation_name != "pypy" or platform_python_implementation == "CPython" and sys_platform == "win32" and (python_version >= "2.7" and python_full_version < "3.0.0" or python_version > "3.5") and os_name == "nt" and implementation_name != "pypy" and python_version >= "3.7" and python_full_version >= "3.4.0"
pycryptodomex==3.17; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
pydantic==1.10.7; python_version >= "3.7"
pydeck==0.8.1b0; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.7"
pygments==2.15.1; python_version >= "3.7" and python_full_version < "3.9.7" and python_full_version >= "3.7.0" or python_full_version > "3.9.7" and python_version >= "3.7"
pympler==1.0.1; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.6"
pyrsistent==0.19.3; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.7"
pysocks==1.7.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7" and python_full_version < "3.9.7" and python_full_version >= "3.6.0" or python_full_version > "3.9.7" and python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_version >= "3.8" and python_full_version < "3.9.7" and python_full_version >= "3.3.0" or python_full_version > "3.9.7" and python_version >= "3.8"
python-dotenv==1.0.0; python_version >= "3.8"
pytz-deprecation-shim==0.1.0.post0; python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7" and python_full_version < "3.9.7" and python_full_version >= "3.6.0" or python_full_version > "3.9.7" and python_version >= "3.7"
pytz==2023.3; python_version >= "3.8" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.8"
pywebio==1.8.2; python_full_version >= "3.5.2"
rapidfuzz==3.0.0; python_version >= "3.7"
requests==2.29.0; python_version >= "3.7"
rich==13.3.5; python_version >= "3.7" and python_full_version < "3.9.7" and python_full_version >= "3.7.0" or python_full_version > "3.9.7"
selenium==4.9.0; python_version >= "3.7"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_version >= "3.8" and python_full_version < "3.9.7" and python_full_version >= "3.3.0" or python_full_version > "3.9.7" and python_version >= "3.8"
smmap==5.0.0; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.7"
sniffio==1.3.0; python_version >= "3.7"
sortedcontainers==2.4.0; python_version >= "3.7"
streamlit==1.22.0; (python_version >= "3.7" and python_full_version < "3.9.7") or (python_full_version > "3.9.7")
tenacity==8.2.2; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.6"
toml==0.10.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7" and python_full_version < "3.9.7" and python_full_version >= "3.3.0" or python_full_version > "3.9.7"
toolz==0.12.0; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.7"
tornado==6.3.1; python_version >= "3.8" and python_full_version < "3.9.7" and python_full_version >= "3.5.2" or python_full_version > "3.9.7" and python_version >= "3.8"
trio-websocket==0.10.2; python_version >= "3.7"
trio==0.22.0; python_version >= "3.7"
twocaptcha==0.0.1
typing-extensions==4.5.0; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.7"
tzdata==2023.3; python_version >= "3.8" and python_full_version < "3.0.0" and platform_system == "Windows" or python_version >= "3.8" and python_full_version < "3.9.7" and platform_system == "Windows" and python_full_version >= "3.6.0" or python_full_version > "3.9.7" and python_version >= "3.8" and platform_system == "Windows"
tzlocal==4.3; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.7"
ua-parser==0.16.1; python_full_version >= "3.5.2"
urllib3==1.26.15; python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7" and python_full_version < "3.9.7" and python_full_version >= "3.6.0" or python_full_version > "3.9.7" and python_version >= "3.7"
user-agents==2.2.0; python_full_version >= "3.5.2"
validators==0.20.0; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.4"
watchdog==3.0.0; python_version >= "3.7" and python_full_version < "3.9.7" and platform_system != "Darwin" or python_full_version > "3.9.7" and platform_system != "Darwin" and python_version >= "3.7"
websocket==0.2.1
websockets==11.0.2; python_version >= "3.7"
werkzeug==2.3.2; python_version >= "3.8"
wsproto==1.2.0; python_full_version >= "3.7.0" and python_version >= "3.7"
yarl==1.9.2; python_version >= "3.7" and python_full_version >= "3.8.0"
zipp==3.15.0; python_version >= "3.7" and python_full_version < "3.9.7" or python_full_version > "3.9.7" and python_version >= "3.7"
zope.event==4.6; python_version >= "2.7" and python_full_version < "3.0.0" or python_version > "3.5"
zope.interface==6.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7"
