aiohttp~=3.8.4
aiofiles
asyncio~=3.4.3
discord.py
pynacl
requests~=2.29.0
flask~=2.3.2
discord~=2.2.3
fake-useragent
curl_cffi
python-dotenv~=1.0.0
httpx~=0.24.1
tls-client
pydantic~=1.10.8
pycryptodome
PyYAML~=6.0
youtube-transcript-api
langdetect
requests-toolbelt
imaginepy~=1.1.0
git+https://github.com/xtekky/gpt4free
-r https://raw.githubusercontent.com/xtekky/gpt4free/main/requirements.txt
beautifulsoup4
